[data-md-component="logo"] {
    display: none !important;
}

.md-header__title {
    margin-left: 0.5rem !important;
}

.md-typeset a,
.md-typeset a {
    color: var(--md-typeset-color);
    border-bottom: 2px solid var(--md-primary-fg-color);
}

.md-typeset a:focus,
.md-typeset a:hover {
    color: var(--md-typeset-color);
    border-bottom: 2px solid var(--md-primary-fg-color--dark);
}

.md-typeset .md-button:is(:focus,:hover) {
    background-color: var(--md-primary-fg-color--dark);
    border-color: var(--md-primary-fg-color--dark);
}

.me-title {
    font-size: 0.8em;
}
